@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
	margin: 0px;
	padding: 10px 10px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: #490000;
	color: white;
	padding: 0px 100px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 5px solid #fcbf49; */
}

.logo {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0px;
}

.nav__link--list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.nav__link--list :hover {
	background-color: #fcbf49;
	transition: all 300ms ease;
}

h4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

a :hover {
	background-color: #fcbf49;
	transition: all 300ms ease;
}

#about-me {
	display: flex;
	flex-direction: column;
}

.about-me__picture {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0px;
}

.about-picture {
	width: 30%;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 16);
	margin: 10px 0px;
}

.about-me__info--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	margin: 20px 10px;
	padding: 0px;
}

.container {
	display: flex;
	flex-direction: row;
	padding: 0px;
	/* border: 10px solid orange; */
}

.project-images {
	width: 100%;
}

.flex-item {
	display: flex;
	flex-direction: column;
	padding: 0px;
}
